.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
body { 
    background: url(../images/audio-file-types-17.jpg) no-repeat bottom center / 100% 95% content-box content-box,
    #213045;
}
.card-img-top {
  width: 100%;
}
.card {
  width: 400px;
}
.card:hover {
    overflow: hidden;
}
.card-img-top:hover {
    animation: tada 1s;
}
@media screen and (max-width:992) {
  .card {
    width: 90%;
  }
}

