@import url("fonts.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}
.s-d-menu{
  position: relative;
  top: 15%;
}
html,
body,
main {
  margin: 0;
}

.s-ftr-hdr-txt-color {
  color: hsl(92, 63%, 18%);
}
.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}
header {
  width: 100%;
  height: 15vh;
}
ul {
  padding-block-start: 1rem;
  display: block;
}
nav, nav:where(div, ul) {
  height: 100%;
}
.s-d-bars {
  display: none;
}
.s-d-menu {
  position: relative;
}
#div-logo{
  font-size: 2.5rem;
  font-family: scripto;
  color: rgb(214, 218, 3);
  float: inline-start;
  padding-inline-start: 3rem;
  margin-inline-end: 30rem;
  text-shadow: 2px 2px rgb(7, 7, 7);
}
nav a {
  font-family: "firecatmedium";
  font-size: xx-large;
  text-decoration: none;
  text-shadow: 4px 4px rgb(7, 7, 7);
}
nav li {
  list-style-type: none;
  display: inline-block;
  margin-inline-end: 2rem;
  vertical-align: middle;
}
body {
    background: url("https://img.freepik.com/premium-photo/nature-cartoon-background_1020697-39545.jpg") no-repeat fixed
    center right / cover border-box border-box;
}

main {
  width: 80%;
  background: hsla(0, 10%, 86%, 0.678);
  margin: auto;
  border-radius: 230px 0px;
  height: 100vh;
  overflow-y: auto;
}
main::before,
main::after {
  content: ""; /* Required for pseudo-elements */
  width: 13%; /* Width for left and right background areas */
  height: 25%;
  position: absolute;
}

main::before {
  top: 10%;
  background: url("../images/tom-203.png") top / cover;
  left: 0.5;
}

main::after {
  bottom: -15%;
  margin-inline-end: 5%;
  background: url("../images/jerry.png") top / cover;
  right: 0;
}
aside {
  position: fixed;
  top:50vh;
  left: 3vw;
}
aside a, aside a:visited {
  color: hsl(130, 21%, 27%);
}
aside a:hover {
  color: hsl(89, 60%, 43%);
}
aside div {
  font-size: 2.5rem;
}
aside div:hover {
  font-size: 3rem;

}

section {
    height: 100%;
    margin-inline-start:5.9rem;  
    border-radius: 250px 0px;
}
.s-story{
    float: left;
    width: 32%;
    height: 70%;
    margin-top:9rem;
    padding-inline-end: 3rem;

}
.s-title {
 text-align: center; 
 font-family: scripto;
 color: hsl(0, 0%, 100%);
 text-shadow: 1px 2px rgb(7, 7, 7);
 border-top-left-radius: 400px;
 border-top-right-radius: 400px;
}
.s-title-1 {
  background-color: hsl(238, 43%, 65%);
 }
 .s-title-2 {
  background-color: rgb(201, 114, 64);
 }
 .s-title-3 {
  background-color: rgb(137, 65, 155);
 }
.s-cover {
    width: 100%;
    height: 40%;
    border-radius: 50px;
}
.s-cover img {
    width: 100%;
    height: 100%;
}
.s-script {
    width: 100%;
    height: 60%;
    padding-inline: 1.5rem;
    text-wrap: balance;
    line-height: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-left-radius: 40px;

}
.s-script-1 {
  background-color: hsl(238, 32%, 80%);
}
.s-script-2 {
  background-color: hsl(24, 87%, 76%);
}
.s-script-3 {
  background-color: hsl(282, 78%, 86%);
}
footer{
  width: 100%;
  height: 15%;
  text-align: center;
  position: relative;
}
footer div{
  font-family: "firecatmedium";
  font-size: xx-large;
  color: hsl(93, 78%, 13%);
  width: 100%;
  position: absolute;
  top: 50%;
  text-shadow: 1px 2px rgb(7, 7, 7);

}
/* mobile */
@media(min-width:320px) and (max-width:699.98px) {
  header {
    width: 100vw;
  }
  ul {
    display: none;
  }

  
  .s-d-bars {
    display: inline;
    position: absolute;
    top: 3%;
    right: 4%;
  }
  .fa-bars {
    font-size: xx-large;
    color: rgb(184, 190, 93);
    text-shadow: 2px 2px rgb(7, 7, 7);

  }
  #div-logo{
    font-size: 30px;
    font-family: scripto;
    color: hsl(61, 97%, 43%);
    float: inline-start;
    padding-inline-start: 1rem;
    margin-block-start: 4%;
    margin-inline-end: 0rem;
    text-shadow: 2px 2px rgb(7, 7, 7);
  }
  .s-d-menu:hover .s-sub-menu ul{
    display: block;
    background-color: hsl(61, 56%, 72%);
    width: 50%;
    margin: auto;
    position: absolute;
    right: 0;
    top:33px;
  } 
  nav a {
    font-size: large;
    text-decoration: none;
    color: hsl(92, 57%, 72%);
    text-shadow: 1px 1px rgb(7, 7, 7);

  }
  nav li {
    list-style-type: none;
    display: block;
    margin-block-end: 2%;
  }
  main::before,
  main::after {
    width: 0;
    height: 0;
    position: relative;
  }
  
  main::before {
    top: 0%;
    background: none;
    left: 0%;
  }
  
  main::after {
    width: 0%; 
    bottom: 0%;
    margin-inline-end: 0%;
    background: none;
    right: 0;
  }
  main {
    width: 100vw;
    height: 100vh;
    background: none;
    margin: auto;
    position: relative;
    border-radius: 0px;
  }
  aside {
    left: 1rem;
  }
  section {
    height: 100%;
    margin:0rem;  
    padding: 0;
}
  .s-story{
      float: none;
      width: 100%;
      height: 40rem;
      margin-block:3rem;
      padding-inline: 0.1rem;  
  }
  footer{
    width: 100%;
    height: 15%;
    text-align: center;
  }
  footer div{
    font-family: "firecatmedium";
    font-size: large;
    color: hsl(92, 60%, 25%);
    width: 100%;
    position: relative;
    bottom: 0%;
    text-shadow: 1px 2px rgb(5, 5, 5);
  
  }
}

/* Tablets */
@media(min-width:700px) and (max-width:1024.98px) {
  #div-logo{
    font-size: 30px;
    font-family: scripto;
    color: hsl(61, 97%, 43%);
    float: inline-start;
    padding-inline-start: 3rem;
    margin-block-start: 1%;
    margin-inline-end: 10rem;
    text-shadow: 2px 2px rgb(7, 7, 7);
  }
  nav a {
    font-family: "firecatmedium";
    font-size: x-large;
    text-decoration: none;
    text-shadow: 4px 4px rgb(7, 7, 7);
  }
  main::before,
  main::after {
    content: ""; /* Required for pseudo-elements */
    width: 10rem; /* Width for left and right background areas */
    height: 10rem;
    position: absolute;
  }
  
  main::before {
    top: 10%;
    background: url("../images/tom-203.png") top / cover;
    left: 0.5;
  }
  
  main::after {
    bottom: -18%;
    margin-inline-end: 5%;
    background: url("../images/jerry.png") top / cover;
    right: 0;
  }
  aside {
    position: fixed;
    top:50%;
    left: 1rem;
  }
  section {
      height: 100%;
      margin-inline-start:4.5rem;  
      border-radius: 25% 0%;
  }
  .s-story{
      float: left;
      width: 50%;
      height: 70%;
      margin-block: 6%;
      padding-inline-end: 3%;
  
  }
  footer{
    width: 100%;
    height: 15%;
    text-align: center;
    position: relative;
    bottom: 0%;
  }
  
  footer div{
    font-family: "firecatmedium";
    font-size: large;
    color: hsl(92, 60%, 25%);
    width: 100%;
    position: absolute;
    bottom: 0;
    text-shadow: 1px 2px rgb(5, 5, 5);
  
  }
}
/* Labtops */
@media(min-width:1025px) and (max-width:1440.98px) {
  #div-logo{
    font-size: 50px;
    font-family: scripto;
    color: rgb(214, 218, 3);
    float: inline-start;
    padding-inline-start: 3rem;
    margin-inline-end: 10rem;
    text-shadow: 2px 2px rgb(7, 7, 7);
  }
  nav a {
    font-family: "firecatmedium";
    font-size: xx-large;
    text-decoration: none;
    text-shadow: 4px 4px rgb(7, 7, 7);
  }
  main::before,
  main::after {
    width: 13%; /* Width for left and right background areas */
    height: 15%;
  }
  
  main::before {
    top: 7rem;
    left: 3rem;
  }
  
  main::after {
    bottom: -8rem;
    right: -3rem;
  }
  main {
    width: 90%;
  }
  
  section {
      height: 100%;
      margin-inline-start:7%;  
  }
  .s-story{
      float: left;
      width: 33%;
      margin-top:5rem;
      padding-inline-end: 2rem;
  }
  .s-title {
   font-size: x-large;
  }
}