@import url("./font.css");
:root {
  --header-font-family: InspireTWDC, AvenirNextCyr-Regular, "Matterhorn Regular", InspireTWDC, Helvetica, sans-serif;
  --header-font-weight: 400;
  --header-font-style: normal;
  --body-font-family: InspireTWDC, AvenirNextCyr-Regular, "Matterhorn Regular", InspireTWDC, Helvetica, sans-serif;
  --body-font-weight: 400;
  --body-font-style: normal;
  --globalfooter-font-family: InspireTWDC, AvenirNextCyr-Regular, "Matterhorn Regular", InspireTWDC, Helvetica, sans-serif;
  --globalfooter-font-weight: 400;
  --globalfooter-font-style: normal;
  --black-color: black;
  --sub-menu-bg: #232b2d;
  --a-color: #0077da;
  --nav-font-size: 14px;
  --white-color: white;
  --parks-christmas-background: #050757;
}
*,
*::before,
*::after {
  margin: 0;
}
body,
html {
  margin: auto;
}
body {
  width: 100%;
  max-width: 1600px;
}

/*Header Styling*/
header {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-style: var(--header-font-style);
  padding-bottom: 15px;
}

.flx-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang-option-list-wrapper {
  height: 48px;
  background-color: #f8f8f8;
  flex-direction: row;
  width: 100%;
  margin: auto;
  position: relative;
}
.lang-option-list {
  height: 100%;
}
.lang {
  font-size: 0.9rem;
  color: #222222;
  padding-inline-end: 0.5rem;
}
.lang-seperator {
  color: #d5d5d5;
  padding-inline: 0.5rem;
}
a.lang-option {
  text-decoration: none;
  color: #1d1e1f;
  font-size: 1rem;
  font-weight: 500 !important;
}
nav a.dismiss-button {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #7c7c7c;
}
nav a.dismiss-button:hover {
  color: #474747 !important;
  border: none !important;
}
.lang-option-list a:hover {
  color: var(--a-color);
  cursor: pointer;
  border-bottom: 4px solid var(--a-color);
  margin-bottom: -4px;
}
a.active {
  text-transform: uppercase;
  border-bottom: 4px solid var(--a-color);
  margin-bottom: -4px;
}
nav .menu {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: auto;
  height: 63px;
  position: relative;
}
div.menu div.menu-eq {
  display: none;
}
div.menu ul:not(.sub-menu-disney-plus ul, .sub-menu-movies ul) {
  flex-direction: row;
  padding: 0;
}
div.menu ul li:not(.sub-menu-disney-plus li, .sub-menu-movies li) {
  flex-direction: row;
  padding-inline-end: 35px;
  position: relative;
}
div.sub-menu-disney-plus {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4.3vh;
  left: -0.6vw;
  width: 10vw;
  background-color: var(--sub-menu-bg);
  z-index: 1;
}
div.sub-menu-disney-plus ul,
div.sub-menu-movies ul {
  list-style: none;
  padding-inline: 2rem !important;
  padding-block: 1rem !important;
}
div.sub-menu-disney-plus li,
div.sub-menu-movies li {
  list-style: none;
  line-height: 2.5rem !important;
}
div.sub-menu-movies {
  display: none;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  position: absolute;
  top: 4.3vh;
  left: -0.6vw;
  width: 15vw;
  background-color: var(--sub-menu-bg);
  z-index: 1;
}
li.disney:hover div.sub-menu-disney-plus {
  display: flex;
}
li.movies:hover div.sub-menu-movies {
  display: flex;
}
div.menu div.content a {
  color: var(--white-color) !important;
}
div.menu div.content a:hover {
  color: var(--a-color) !important;
}
/* Arrow above dropdown */
.arrow {
  position: absolute;
  top: -0.8vh;
  left: 3vw;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--sub-menu-bg);
}
div.menu img.logo {
  vertical-align: middle;
  width: 95px;
  padding-inline:5px 35px;
  
}
div.menu a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: bolder;
  font-size: var(--nav-font-size);
}
div.menu a:hover {
  text-decoration: none;
  color: var(--a-color);
}
div.menu span {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: var(--nav-font-size);
}

div.header-logo {
  position: relative;
  height: 686.08px;
  overflow: hidden; /* Ensures the scaled image doesn't overflow outside the div */
}
img.mufasa-lion-sm {
  display: none;
}
div.mufasa-grad-logo {
  cursor: pointer;
  width: 37%;
  height: fit-content;
  position: absolute;
  top: 28%;
  left: 10%;
}
div.mufasa-grad-logo > img {
  width: 100%;
  height: fit-content;

}
div.header-logo > a img.mufasa-lion {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; /* Ensure the transition is applied */
}
div.header-logo:hover > a img.mufasa-lion {
  transform: scale(1.02); /* Scale the image */
}
div.header-logo div.book {
  width: 64%;
  height: 30%;
  position: absolute;
  top: 60%;
  left: -2rem;
  text-align: center;
}
div.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50%;
  align-items: center;
}
a.book-btn {
  color: var(--white-color);
  background: #3e2211;
}
a.find-more {
  color: #3e2211;
  border: solid 1px #3e2211;
}
a.find-more:hover {
  background: #fcda7d;
  border-color: transparent;
}
div.header-logo a.rounded {
  margin-inline: 1vw;
  border-radius: 50px;
  padding: 16px 64px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--header-font-family);
  font-weight: bolder;
  font-style: var(--header-font-style);
}

/* Main Styling*/
main {
  background-color: #f1f2f3;
  width: 100%;
  height: auto;
  margin-block-start: 1vh;
  flex: 1;
  min-height: 100vh;
}
article {
  background-color: #f1f2f3;
  height: auto;
}
article a {
  text-decoration: none;
}
section {
  width: 100%;
  padding-block-start: 2vh;
  gap: 20px;
  font-family: var(--body-font-family);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
}
section.first-section {
  padding-block: 5vh 8vh;
  width: 88%;
  margin: auto;

}
/* movies and disney+ section*/
section div.movies-disney {
  /* width: 686px; */
  background-color: var(--white-color);
}
div.movies-disney div {
  padding: 2vh 1.5vw 2.5vh;
  color: black;
}
section div.movies-disney img {
  width: 100%;
  height: fit-content;
}
div.movies-disney ul,
div.movies-disney span {
  padding: 0vh 0vw;
}
div.movies-disney ul {
  list-style: none;
}
div.movies-disney h2 {
  font-family: var(--header-font-family);
  font-style: var(--header-font-style);
  font-weight: var(--header-font-style);
  font-size: 1.3rem;
}
div.movies-disney p {
  font-family: var(--body-font-family);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-style);
  font-size: 0.9rem;
  padding-block: 2%;
}
div.movies-disney span {
  font-family: var(--body-font-family);
  font-style: var(--body-font-style);
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 0.75rem;
}
/* section waht on disney+*/
section.what-on-disney-plus {
  width: 100%;
  background: #054553;
  display: block;
  text-align: center;
}
section.what-on-disney-plus div.title {
  width: 100%;
  margin: auto;
  padding-block: 2% 2%;
}
section.what-on-disney-plus h2 {
  color: var(--white-color);
  font-family: var(--header-font-family);
  font-style: var(--header-font-style);
  font-weight: var(--header-font-style);
  font-size: 2rem;
}
section.what-on-disney-plus .posters {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 25px;
}
section.what-on-disney-plus .posters div{
  width:28%
}
section.what-on-disney-plus figure {
  overflow: hidden;
  width: 100%;
  height: 30%;
}
section.what-on-disney-plus img {
  height: auto;
  width: 100%;
  transition: transform 0.3s ease; /* Ensure the transition is applied */
  transform-origin: center center; /* Ensures scaling happens from the center of the image */
}
section.what-on-disney-plus img:hover {
  transform: scale(1.02); /* Scale the image */
}
section.what-on-disney-plus h3 {
  color: var(--white-color);
  text-align: start;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding-block-start: 1vh;
}
section.what-on-disney-plus div.subscripe {
  padding-block: 4% 2%;
  flex-direction: column;
}
div.subscripe a {
  background-color: var(--white-color);
  border-radius: 25px;
  padding-inline: 3.5%;
  padding-block: 1% 0.9%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}
div.subscripe p {
  color: var(--white-color);
  margin-block: 1.5% 1%;
  font-size: 12px;
}
/*section parks*/
section.parks div.title {
  display: block;
  margin: auto;
  padding-block-start: 1.7%;

}
img.park-sm {
  display: none;
}
section.parks h2,
section.movies h2 {
  font-weight: 500;
  font-size: 2rem;
}
section.parks-christmas {
  width: 87%;
  height: 430px;
  position: relative;
  display: block;
  margin: auto;
}
div.christmas_campaign {
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: transform 0.3s ease; /* Ensure the transition is applied */
}
div.christmas_campaign img.park {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.3s ease; /* Ensure the transition is applied */
}
/* Apply hover effect on the entire section */
section.parks-christmas:hover .christmas_campaign img.park {
  transform: scale(1.02); /* Scale the entire image slightly */
  transform-origin: right right; /* Scale from the right side */
}
div.disney-content {
  width: 100%;
  position: absolute;
  top: 11vh;
  left: 5vw;
  text-align: start;
}
div.disney-content img {
  width: 30%;
  height: fit-content;
}
div.content-description {
  color: var(--white-color) !important;
  width: 33%;
  text-align: center;
}
div.content-description {
  color: var(--white-color) !important;
  width: 33%;
  text-align: center;
}
p.book-now {
  line-height: 4rem;
}
div.content-description a {
  color: var(--white-color);
  font-weight: 600;
}
div.content-description .book-now a:hover {
  text-decoration: underline;
}
div.content-description p {
  font-weight: 100;
}
section.movies div.title {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: end;
}
div.slides {
  width: 88%;

}
section.movies-slides ul,
footer ul {
  display: flex;
  list-style: none;
  padding: 0;
}
section.movies-slides li {
  height: fit-content;
  padding-inline: 10px;
}
section.movies-slides figure,
section.movies-slides img {
  width: 100%;
  height: 388.8px;
  border-radius: 4px;
}
section.movies-slides figure {
  overflow: hidden;
}
section.movies-slides img {
  transition: transform 0.3s ease; /* Ensure the transition is applied */
}
section.movies-slides img:hover {
  transform: scale(1.02); /* Scale the image */
}
section.movies-slides li > div {
  padding-block-start: 1vh;
}
section.movies-slides h2 {
  color: black;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-block-start: 10px;
}
section.movies-slides h2:hover {
  color: var(--a-color);
}
section div.lang-option-list-wrapper {
  background: #f1f2f3;
  height: 40px;
  margin-block-start: 3vh;
}

/* Footer Styling */
footer {
  margin-top: auto;
  position: relative;
  height: 30%;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 0;
  color: #333333;
  font-family: var(--globalfooter-font-family);
  font-style: var(--globalfooter-font-style);
  font-weight: var(--globalfooter-font-weight);
}
footer ul {
  flex-wrap: wrap;
}
footer figure,
footer img {
  width: 80px;
  height: fit-content;
  filter: blur(1px);
}

footer li {
  padding-inline: 10px;
  font-size: 13px;
}
footer > span {
  margin-block-start: 3vh;
  font-size: 13px;
}
footer a {
  color: #333333;
  text-decoration: none;
}
footer .footer-logo {
  display: block;
  width: 80px;
  height: 36px;
  margin-block: 5vh 1.5vh;
  background: url(https://static-mh.content.disney.io/matterhorn/assets/goc/nav-logo-dark-b74cdebe79d4.png)
    no-repeat center / 80px 33px;
}


@media(max-width: 1232px) {  
  div.header-logo {
    height: 547px;
  }
  div.mufasa-grad-logo {
    width: 40%;
    top: 18%;
    left: 8%;
  }
  div.header-logo div.book {
    top: 52%;
    left: -3rem;
  }
  div.btn {
    flex-direction: column;
    margin-block-start: 1.5%;
  }
  a.book-btn {
    margin-block: 5% 1.5%;
  }  
}
/* tablet */
@media(max-width: 959px) {

  div.header-logo {
    background: #f6a817;
    height: 959px;
  }
  
  div.mufasa-grad-logo {
    width: 65%;
    top: 60%;
    left: 16%;
  }
  div.mufasa-grad-logo > img {
    width: 100%;
    height: fit-content;
  
  }
  img.mufasa-lion {
    display: none;
  }
  div.header-logo > a img.mufasa-lion-sm {
    display: flex;
    width: 100%;
    height: 55%;
    transition: transform 0.3s ease; /* Ensure the transition is applied */
  }
  div.header-logo:hover > a img.mufasa-lion-sm {
    transform: scale(1.02); /* Scale the image */
  }
  div.header-logo div.book {
    width: 100%;
    height: 15%;
    top: 85%;
    left: -1rem;
    text-align: center;
    color: var(--white-color);
  }
  div.btn {
    width: 100%;
    flex-direction: row;
    height: 50%;
    margin-block-start: 0.5%;
  }
  a.book-btn {
    margin-block: 0%;
  } 
  a.rounded {
    color: var(--white-color);
  }
  a.find-more {
    border-color: var(--white-color);

  }
  
  /*park*/
  section.parks-christmas {
    width: 87%;
    height: 848px;
    position: relative;
    display: block;
    margin: auto;
  }
  img.park-sm {
    display: flex;
    width: 100%;
    height: 50%;
  }
  img.park {
    display: none;
  }
  div.christmas_campaign {
    position: static;
    height: 50%;
    overflow: hidden;
    transition: transform 0.3s ease; /* Ensure the transition is applied */
  }
  div.christmas_campaign img.park-sm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.3s ease; /* Ensure the transition is applied */
  }
  /* Apply hover effect on the entire section */
  section.parks-christmas:hover .christmas_campaign img.park-sm {
    transform: scale(1.02); /* Scale the entire image slightly */
    transform-origin: top top; /* Scale from the top side */
  }
  div.disney-content {
    width: 100%;
    height: 50%;
    position: static;
    text-align: center;
    background: var(--parks-christmas-background);
  }
  div.disney-content img {
    width: 60%;
    height: fit-content;
  }
  div.content-description {
    color: var(--white-color) !important;
    width: 94%;
    text-align: center;
    margin: auto;
  }
  /* movies*/
  /*31.67%*/
  section.movies-slides{
    height: auto;
  }
  div.slides  ul{
    overflow-x: scroll;
  }
  section.movies-slides li {
    height: fit-content;
    padding-inline: 10px;
    width: 365px;
    flex-shrink: 0;
  }
  section.movies-slides figure,
  section.movies-slides img {
    width: 100%;
    height: 550px;
    border-radius: 4px;
  }
  section.movies-slides figure {
    overflow: hidden;
  }
  section.movies-slides img {
    transition: transform 0.3s ease; /* Ensure the transition is applied */
  }
  section.movies-slides img:hover {
    transform: scale(1.02); /* Scale the image */
  }
  section.movies-slides li > div {
    padding-block-start: 1vh;
  }
  section.movies-slides h2 {
    color: black;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-block-start: 10px;
  }
  section.movies-slides h2:hover {
    color: var(--a-color);
  }
  section div.lang-option-list-wrapper {
    background: #f1f2f3;
    height: 40px;
    margin-block-start: 3vh;
  }
}
@media(max-width:768px) {
  div.header-logo {
    height: 828.42px;
  }
  nav .menu {
    justify-content: center;
    align-items: center;
    height: 65px;
  }
  nav .menu {
    justify-content: center;
    align-items: center;
    height: 65px;
  }
  section.parks-christmas {
    height: 805.5px;
  }
  section.movies-slides li {
    height: 513.2px;
    padding-inline: 10px;
    width: 314.14px;
    flex-shrink: 0;
  }
  section.movies-slides figure,
  section.movies-slides img {
    width: 100%;
    height: 471.2px;
    border-radius: 4px;
  }
}