body {
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: url("https://img.freepik.com/free-photo/books-flowers-wooden-surface_23-2147624842.jpg?t=st=1732375294~exp=1732378894~hmac=28a609bba17b7c2a54517bc0f04748eb5cdab522ca5ad2ca9f8b1f89cd24896b&w=1380");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 0px;
    color: #a51a20;
}
h2 {
    color: #d34141;
}
.logo-header{
    padding-top: 6px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    background-color: #BB8493;
}
.logo-header div {
    margin-inline-end: 3%;
    margin-inline-start: 1%;
}
.logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
a {
    font-weight: bold;
    color: #EEE4B1;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
}
section {
    padding: 30px;
    text-align: center;
}
section img {
    margin: 10px;
}
.books {
    border-radius: 30%;
    width: 250px;
    height: 250px;
}

.books-section  figure{
    background-color: #edf3e5;
    border-radius: 10%;
}

footer {
    background-color: #bb84937a;
    text-align: center;
}

